
$primary: #338DFF;
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;

// $body-bg: #f3f3f0;
$font-family-base: 'Kodchasan';
// @import "bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";


section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#logo
{
    max-height: 7rem; /* height of the navbar */
}
